* {
    box-sizing: border-box;
}

.dynamic-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: .5rem;
    overflow: auto;
}

.field-group {
    gap: .2rem;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &:focus-within {
        color: #007BFF;
    }

    label {
        font-weight: 900;
    }

    input,
    select {
        border-radius: .5rem;
        border: solid thin gray;
        padding: .5rem;
    }

    .custom-input {
        display: flex;
        width: 100%;
        border-radius: .5rem;
        border: solid thin gray;
        align-items: center;
        padding: 0 .5rem;
        overflow: hidden;

        &:focus-within {
            border: solid 2px #007BFF;
        }

        input,
        select {
            border: none;
            flex: 1;
            outline: none;
        }

    }

    &:has(input[type="checkbox"]) {
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;

        .custom-input {
            border: none;
            width: auto;
        }
    }

    &:has(input[type="radio"]) {
        .custom-input {
            margin-top: .5rem;
            border: none;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: .5rem;
        }
    }

    .dynamic-error {
        color: red;
        margin: 0;
        list-style: none;
        padding: 0;
        font-size: .8em;
    }
}


$cols: 12, 6, 4, 3, 2, 1;

@each $col in $cols {
    .col-#{$col} {
        grid-column: span $col;
    }
}

@media (min-width: 600px) {

    /* tablet + laptop + desktop */
    @each $col in $cols {
        .col-md-#{$col} {
            grid-column: span $col;
        }
    }
}

.hidden {
    display: none;
}